main > div.fal {
    margin-bottom: 2em;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.1);
}

.profile_img {
    border-radius: 40%;
    width: 50px;
}

#chat_profile {
    border-bottom: none;
}

.profile_img.my_img {
    width: 70px;
}

.profile_texts {
    position: absolute;
    top: 17%;
    left: 17%;
}

.profile_name {
    display: block;
    margin-bottom: 5px;
}

.profile_text {
    font-size: 12px;
    color: gray;
}

.friends_title {
    margin-bottom: 5px;
    font-size: 14px;
    color: gray;
}

.friends_content {
    position: absolute;
    top: 40%;
    left: 13%;
}

.friends_text {
    position: absolute;
    top: 30%;
    left: 13%;
}

.profile_music {
    border: 2px solid #52e084;
    border-radius: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 35%;
    right: 0%;
}

.profile_music span {
    opacity: 0.7;
    font-size: 14px;
}