body {
    padding: 10px 20px;
    color: #020202;
    line-height: 1;
}

* {
    box-sizing: border-box;
}

.header {
    margin-bottom: 2em;
}

.header_colom {
    display: inline;
    font-size: 25px;
    font-weight: 600;
}

.icons > i::before, .nav_list i::before,
.find_icons i:nth-child(1)::before {
    content: "\f017";
}

.icons {
    position: absolute;
    top: 0px;
    right: 3%;
}

.status_bar {
    margin-bottom: 2em;
    opacity: 0.7;
}

.status_bar_colom {
    display: inline-block;
}

.rel {
    position: relative;
}

.nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px 50px;
    width: 100%;
    border-top : 1px solid #f7f7f7;
    background-color: #fcfcfc;
}

@keyframes showNavBar {
    from {
      transform: translateY(80px);
    }
    to {
      transform: none;
    }
  }
  

.nav {
    transform: translateY(80px);
    animation: showNavBar 0.5s ease-out forwards;
    animation-delay: 0.5s;
}

.nav .nav_list {
    display: flex;
    justify-content: space-between;
}